header.col-2 {
    display: flex;
    padding: 0;
}

.row {
    margin: 0;
}


nav {
    position: sticky;
    top: 0;
    background-color: #424242;
    width: 85%;
    height: 100vh;
}

nav div {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav a{
   display: block;
}

.barreJaune {
    position:sticky;
    top: 0;
    background-color: #ffc230;
    width: 15%;
    height: 100vh;
    color: #ffc230;
}

main {
    background-color: #FAF4CD;
}

main div {
    background-color: #F5A969;
    height: 200px;
    margin: 15px 0 15px 0;
}
